/* start font */
@import url('https://fonts.googleapis.com/css?family=roboto');
/* end font */

/* start body */
body {
    color: black;
    font-family: roboto, helvetica, arial, sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}
/* end body */

/* start debug */
.bg-black {
    background-color: black;
}

.bg-dimgray {
    background-color: dimgrey;
}
/* end debug */

/* start container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 95%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 95%;
}
/* end container */

/* start logo */
.logo {
    text-align: center;
}
/* end logo */

/* start anchor / hyperlink */
a:link,
a:visited {
    color: blue;
    text-decoration: none;
}

a:hover,
a:active {
    color: black;
    text-decoration: none;
}
/* end anchor / hyperlink */

/* start menu primer */
.menu-primer ul {
    background-color: darkslategray;
    border-radius: 4px;
    box-shadow: black;
}

.menu-primer li{
    border-right: 1px solid #d1d5da;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: white;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
}
/* end menu primer */

/* start hading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h1 {
    font-size: 24px;
}
h1 {
    font-size: 18px;
}
h1 {
    font-size: 16px;
}
h1 {
    font-size: 14px;
}
h1 {
    font-size: 13px;
}
/* end heading */

/* start jumbotron */
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius; 4px;
    padding: 2px 0;
}

.jumbotron h1 {
    font-size: 26px;
    padding: 0 15px;
}
.jumbotron h3 {
    font-size: 15px;
    padding: 0 15px;
}
/* end jumbotron */

/* start main */
.main-home-one {
    float: left;
    width: 49%;
}

.main-home-two {
    float: right;
    width: 49%;
}

.main-home-one .box-isi {
    height: 80px;
}
.main-home-two .box-isi {
    height: 85px;
}
/* end main */

/* start box */
.box-heading {
    background-color: rgb(253, 250, 250);
    border: 1px solid rgb(211, 207, 207);
    border-radius: 3px 3px 0 0;
    padding: 5px 10px;
    margin: 0;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color:  rgb(211, 207, 207);
    border: 1px solid black;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/* end box */

/* start menu sekunder */
.menu-sekunder {
    background: dimgray;
    border-bottom: 1px solid rgb(211, 207, 207);
    overflow: auto;
    padding: 2px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 5;
}
.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width:40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 20%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* end menu sekunder */

/* start copyright */
.copyright p {
    font-size: 15px;
}
/* end copyright */

